pkgbase = diesel-git
	pkgdesc = A command line utility for Steam account switching
	pkgver = 1.0.0
	pkgrel = 1
	url = ssh://git@github.com/JU12000/diesel
	arch = any
	license = GPL3
	makedepends = git
	depends = procps-ng
	depends = steam
	source = diesel-git::git+ssh://git@github.com/JU12000/diesel
	sha256sums = SKIP

pkgname = diesel-git
