pkgbase = diesel
	pkgdesc = A command line utility for Steam account switching
	pkgver = 1.0.0
	pkgrel = 1
	arch = any
	license = GPL3
	makedepends = git
	depends = procps-ng
	depends = steam
	source = diesel
	sha256sums = 4b54e213fb01f7f0f7cf0717900934389999b40032d8421cf0e9cbc4cce29adc

pkgname = diesel
